@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap");
* {
  font-family: Roboto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: 400;
}
:root {
  --white: #ffffff;
  --black: #000000;
  --primary: #455a64;
  --secondary: #7e57c2;
  --third: #ffb74d;
  --thirdLight: #ffe9ca;
}
header {
  display: flex;
  border-bottom: 0.5rem solid var(--secondary);
}
header picture img {
  height: 6rem;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
header nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
header ul li {
  margin: 0 1rem;
}
header ul li a {
  text-decoration: none;
  color: var(--primary);
}
main {
  min-height: 80vh;
}
footer {
  background-color: var(--secondary);
  height: 4rem;
  display: flex;
  align-items: center;
}
footer > div {
  display: flex;
  align-items: center;
}
.content {
  width: 100%;
  max-width: 1372px;
  margin: 0 auto;
}
/* Specific Main*/
main > picture.main > img {
  width: 100%;
}
main > section.main {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 0.5rem;
}

/* cards */
.card {
  background-color: var(--thirdLight);
  border-radius: 0.5rem;
  padding: 0.4rem;
}
.card > h3,
.card > h4 {
  margin-bottom: 0.5rem;
}
.card > div > span {
  background-color: var(--third);
  border-radius: 0.5rem;
  padding: 0.4rem;
  margin: 0 0.4rem 0 0;
}

@media (max-width: 1010px) {
  main > section.main {
    grid-template-columns: auto auto auto;
  }
}
@media (max-width: 760px) {
  main > section.main {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 500px) {
  main > section.main {
    grid-template-columns: auto;
  }
}

/* Specific Login */
main > section.auth {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main > section.auth > h1 {
  color: var(--primary);
  font-weight: 500;
  margin-bottom: 2rem;
  font-size: 2rem;
}
main > section.auth > form {
  background-color: var(--thirdLight);
  border: 0.2rem solid var(--third);
  border-radius: 1rem;
  padding: 1.5rem;
}
main > section.auth > form > div {
  background-color: var(--white);
  border: 0.15rem solid var(--third);
  border-radius: 0.6rem;
  display: flex;
  margin: 0.5rem 0;
}
main > section.auth > form > div > img {
  height: 2.5rem;
  padding: 0.3rem;
}
main > section.auth > form > div > input {
  width: 100%;
  font-size: 1rem;
  border: 0;
  background-color: transparent;
}
main > section.auth > form > p > a {
  text-decoration: none;
  color: var(--black);
  font-weight: 500;
}
main > section.auth > form > p > button {
  background-color: var(--third);
  color: var(--white);
  padding: 0.6rem;
  border: 0;
  border-radius: 0.6rem;
  width: 5rem;
  margin-left: 0.5rem;
}
